@charset "utf-8";

/*===============================================================
 maincontents
===============================================================*/
.contactPa{
  margin:auto 0;
  width:89%;
  position:relative;
  height:900px;/*contentsの高さどれくらいか*/
  padding-top:10%;
  padding-bottom:0px;
}

.contacttoppa{
  text-align: center;
  width:80%;
  margin:0 auto;
  padding:0% 0px 0px 10%;
}

.contacttop{
  font-size:2rem;
  width:99%;
  text-align:center;
  border:solid 3px rgba(147, 147, 147, 0.671);
  border-radius:5px;
  padding:0px;
  background: linear-gradient(to right,rgba(229, 221, 0, 0.857), rgb(231, 234, 172));
}

.actintropa{
  text-align:center;
  margin:0 auto;
  width:99%;
  padding:8% 5% 0px 8%;
}

.actintro{
  margin:auto 0;
  width:90%;
  background-color: rgba(232, 232, 232, 0.795);
  font-size:0.8rem;
  text-align:center;
  padding:8px 13px 8px 15px;
  border:solid 1px black;
  border-radius:20px;
  font-weight:bold;
}

/*===============================================================
 Form
===============================================================*/

.formpa{
  display:block;
  width:100%;
  margin:0 auto;
  padding:50px 0px 0px 7%;
}

.form{
  display:block;
  height:500px;
  width:100%;
  margin:0 auto;
  position:relative;
  background-color: rgb(219, 218, 218);
  border:solid 2px black;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
.align-center {
  text-align: center;
}

.row {
  margin: -20px 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-100 {
  width: 100%;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}

.get-in-touch {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.get-in-touch .title {
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.6rem;
  line-height: 48px;
  padding:3% 0 8% 0;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: Lusitana, serif;
  font-size: 0.7rem;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
transform:translateY(-24px);
}

.evaluation{transform:translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 1rem;
  line-height: 26px;
  font-weight: 400;
  color: #3e3e3e;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px;
}
.note .link {
  color: #888;
  text-decoration: none;
}
.note .link:hover {
  text-decoration: underline;
}/*# sourceMappingURL=pra.css.map */



/*===============================================================
 gmail
===============================================================*/
.contactGmailcontainer{
  margin-top:50px;
  margin:50px 0px 0px 18%;
  display:flex;
}
.contactGmail{
  background-color: rgba(233, 231, 231, 0.645);
  width:100%;
  margin:0 auto;
  padding:10px 8px 10px 10px;
  font-size:0.9rem;
  font-weight:bold;
  border:1.5px solid black;
  border-radius:10px;
}

.gmailFlex{
  display:flex;
  flex-direction:row;
}

.conGmail{
  color:rgb(173, 44, 44);
}

.conGmailP{
  font-size:0.6rem;
}

.gmailbottonflex{
  background: linear-gradient(rgba(251, 40, 40, 0.857), rgb(252, 195, 195));
  display:flex;
  flex-direction: row;
  border-radius:15px;
  margin:0 2% 0 8%;
  padding:20px 10px 5px 10px;
  border:1.5px solid black;
  transition: all 0.2s;
}
.gmailbottonflex:hover{
  filter:brightness(115%);
  transform: translateZ(50px);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  border-radius:15px;
  transform:translateY(0px);
}

.gmailimage{
  width:38px;
  height:38px;
}
.gmailBotton{
  display:none;
  margin-left:5px;
  font-size:1rem;
  text-decoration:none;
}

a{/*なぜかtext decorationで消えなかったのでこうした*/
  color:inherit;
  text-decoration: none;
}

.bottomBlank{height:100px;}