@charset "utf-8";
/* Loading背景画面設定　*/

.splash-setting{
  position: relative;
  width:40%;
  margin:auto;
  top:270px;
                }

#splash {
    /*fixedで全面に固定*/
  z-index: 99999;
  text-align:center;
  border-radius:20px;
          }

/* Loadingバー中央配置　*/
#splash_text {
    z-index: 99999;

                }


