@charset "utf-8";

*{
    margin:0; padding:0;
    border:0;
  }

.fmin{font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;}

.fen{font-family: 'Georgia','Athelas','Cochin',sans-serif;}

.fgo{font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;}

.fb{font-weight:bold;}

.ib{display:inline-block;} 

.fba{/*fontbasec windowsでは日本語明朝体・macスマホではゴシック*/
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','Cambria','Courier New','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

.red{color:red;}

.blue{color:blue;}

.bgred{background-color: red;}

.bgyellow{background-color: yellow;}

.big{font-size:1.3rem;}

.middle{font-size:1rem;}

.small{font-size:0.8rem;}

.imgfullleft{ 
  width:95%;
  margin:0px 5% 0px 0%;
}

.imgfullright{
  width:95%;
  margin:0px 0% 0px 5%;
}

.imgfullcenter{
  width:95%;
  margin:0px 2.5% 0px 2.5%;
}

.imghalf{
  width:48%;
}

.imghalfleft{
  width:50%;
  margin:0px 50% 0px 0%;
}

.imghalfcenter{
  width:50%;
  margin:0px 25% 0px 25%;
}

.imghalfright{
  width:50%;
  margin:0px 0% 0px 50%;
}

.flex{
  display:flex;
  flex-direction: row;
}

.under{
  border-bottom:1px solid black;
}

.w_break{
  word-break: break-all;
}
  /*===============================================================
  activity main contents
===============================================================*/
.mainContentsPa{
    width:900px;
    margin:0 auto;
    padding:70px 0px 120px 0px;/*コンテンツの位置の指定主に上下の空白の指定*/
}

#tab1:checked~.pages #page1 {
	display: block;
}

#tab2:checked~.pages #page2 {
	display: block;
}

#tab3:checked~.pages #page3 {
	display: block;
}

#tab4:checked~.pages #page4 {
	display: block;
}

#tab5:checked~.pages #page5 {
	display: block;
}


input[name="check"], input[name="checkbottom"] {/*ラジオボタン消す*/
	display: none;
}

/*上タブ選択*/
.pagetabTop{/*ページタブスタイル*/
    cursor: pointer;
    font-size:1.7rem;
    font-weight:bold;
    font-family: 'Georgia','Athelas','Cochin',sans-serif;
    margin:0px 10px 0px 0px;
    background-color: #ffb566;
    border-top:2px solid black;
    border-right:2px solid black;
    border-left:2px solid black;
    border-radius:5px 5px 0px 0px ;
    padding:5px 10px 1px 10px;
    transition:all 0.2s;
    z-index:9;
}

input[name="check"]:checked+.pagetabTop{
  background-color: rgb(193,150,120);
  color:rgb(0, 0, 0);
  border-top:3px solid black;
  border-right:3px solid black;
  border-left:3px solid black;
  transform: translateZ(50px);
  padding:5px 10px 5px 10px;
  z-index:11;
}

/*すべてのページを統一してスタイルを指定する*/
.pages{
    width:100%;
    height:100%;
    background-color: rgb(193,150,120);
    border:3px solid rgb(0, 0, 0);
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.25);
    z-index:10;
}

.panel {/*それぞれのコンテンツをタブでしているとき以外は消す*/
    display:none;
    margin:1% 1% 1% 1%;
    width:95%;
    height:98%;
    background-color: rgb(250, 250, 250);
    padding:7px 13px 0px 13px;/*ブログ本体と茶色外枠との距離*/
}

/*===============================================================
contents 
===============================================================*/
.aChead{
  font-family: 'Georgia','Athelas','Cochin',sans-serif;
  font-size:2.7rem;
  font-weight:bold;
  width:700px;
  margin:0 auto;
  padding:30px 0px 3px 0px;
  text-align: center;
  
}

.cp_hr06 {
	position: relative;
	height: 5px;
	border-width: 0;
	background-image: -webkit-linear-gradient(left,
	transparent 0%,rgb(255, 94, 0) 50%,transparent 100%);
	background-image:         linear-gradient(90deg,
	transparent 0%,rgb(255, 94, 0) 50%,transparent 100%);
  margin:0px 0px 50px 0px;
}

.aCUpDate, .aCReUpDate{
  font-size:1rem;
  color:rgb(91, 91, 91);
  margin:0px 0px 0px 0px;
}

/*title*/
.aCtitle{
  position: relative;
  overflow: hidden;
  padding: 0.5rem 2rem 0.5rem 130px;
  border: 2px solid   #9a3939;
  width:fit-content;
  font-size:1.4rem;
}

.aCtitle:before {
  position: absolute;
  top: -150%;
  left: -100px;
  width: 200px;
  height: 300%;
  content: '';
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  background: #9a3939;
}

.aCtitle span {
  font-size: 2.5rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  padding-left: 16px;
  color: #fff;
}

/*Eye catch*/
.aCeyecatch{
  width:95%;
  margin:40px 2.5% 0px 2.5%;
  border:2px solid orange;
}

/*headline*/
.headline{
  padding: 0.5rem 2rem;
  border-left: 6px double #000;
  background: #f4f4f4;
  font-size:1.4rem;
}

/*topage*/
.toPageFlex{
  display:flex;
  flex-direction: row;
  width:100%;
}

.toPagePaRight1{
  width:16%;
  position:relative;
  padding-top:5%;
  padding-bottom:5%;
  margin-left:84%;
}

.toPagePaRight{
  width:16%;
  position:relative;
  padding-top:5%;
  padding-bottom:5%;
  margin-left:34%;
}

.toPagePaLeft{
  width:16%;
  position:relative;
  padding-top:5%;
  padding-bottom:5%;
  margin-right:34%;
}

.topage{
  background-color: #ffb566;
  padding:5px;
  font-size:1.5rem;
  border-radius: 8px;
  transition:all 0.2s;
  font-weight:bold;
  border:2px solid black;
}
.topage:hover{
  transform:translateY(-3px);
  filter:brightness(110%);
}

.movie{
    display: block;
    width:90%;
    margin:0 5%;
}

